html {
  overflow: auto;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  position: relative;
  background-color: #161616;
}

body {
  min-width: 320px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "chosun";
  src: url("/src/assets/fonts/ChosunCentennial_ttf.ttf") format("truetype");
}
